.shopping_cart_container {
    background: #f6f6f6;
    height: 100%;
    padding: 28px 10px 0px;
    h4 {
        margin-bottom: 20px;
    }
    .cart_items {
        background: #7ca4ab;
        color: #fff;
        padding: 5px 15px;
        margin-bottom: 10px;
    }
    .empty_msg {
        background: #4f7b82;
        color: #fff;
        text-align: center;
        padding: 10px;
    }
}