<div class="container">
  <div *ngIf="!productListView">
    <div class="d-flex justify-content-between align-items-center menu_section">
      <p class="products_title">Create Product</p>
      <div class="menu_list">
        <ul>
            <li class="cursor btn_style" (click)="showProducts()">List of Products</li>
        </ul>
      </div>
    </div>
    <div [formGroup]="AddProductForm" class="form_container">
      <div class="form_field">
        <label>Product Name</label>
        <input type="text" formControlName='productName'>
      </div>
      <div class="form_field">
        <label>Available Quantity</label>
        <input type="number" min="1" formControlName='quantity'>
      </div>
      <div class="form_field">
        <label></label>
        <button class="cursor add_product_btn" (click)="AddNewProduct()" [disabled]="AddProductForm.invalid">Add product</button>
      </div>
    </div>
  </div>

  <div *ngIf="productListView">
    <div class="d-flex products_list_container">
      <div class="w-75">
        <app-product-list [products]="filterProductList" (productAdded)="addProductToCart($event)" (productCreate)="createProduct()"></app-product-list>
      </div>
      <div class="w-25 cart_container">
        <app-shopping-cart [products]="cartProductList" ></app-shopping-cart>
      </div>
    </div>
  </div>
</div>