<div class="d-flex justify-content-between align-items-center menu_section">
    <p class="products_title">Products</p>
    <div class="menu_list">
        <ul>
            <li class="cursor btn_style" (click)="createProduct()">Create Product</li>
        </ul>
    </div>
</div>
<div class="d-flex flex-wrap products_wrapper">
    <div class="products_list" *ngFor="let product of products">
        <div class="products_item">
            <p class="m-0 mb-2 bold">{{product.productName}}</p>
            <p class="text-danger stock_out" *ngIf="product.availableQuantity == 0">Out of Stock</p>
            <div *ngIf="product.availableQuantity > 0">
                <p class="m-0 mb-2">Quantity: {{product.availableQuantity}}</p>
                <div class="text-center cursor add_cart_buttons" (click)="addProductToCart(product)">
                    Add Cart
                </div>
            </div>
        </div>
    </div>
</div>