/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 21px;
}
.container {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}
.m-0 {
    margin: 0px;
}
.mt-0 {
    margin-top: 0px;
}
.mb-2 {
    margin-bottom: 10px;
}
.bold {
    font-weight: bold;
}
.text-danger {
    color: red;
}
.cursor {
    cursor: pointer;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center;
}
.justify-content-between {
    justify-content: space-between;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
.w-75 {
    width: 75%;
}
.w-25 {
    width: 25%;
}
.text-center {
    text-align: center;
}

.menu_list ul li {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    color: #4f7b82;
}
.menu_section {
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.menu_section .btn_style {
    padding: 4px 15px;
    background: #4f7b82;
    color: #fff;
    border-radius: 5px;
}
.products_title {
    font-size: 28px;
    line-height: 35px;
    color: #4f7b82;
}